/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

/* *{
  -webkit-user-modify:read-write;
} */

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
  /* -webkit-user-modify:read-write; */
}
